<div class="container text-center mt-5 pt-5">
  <img width="256" src="../../assets/images/animated-flag.gif" class="my-4"/>
  <h1 class="text-theme-primary-dark font-weight-bold">It's ready! Your setup is successful</h1>
</div>
