.landing-background {
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.auth-cta-banner {
  min-height: 270px;
  background: url('https://image.freepik.com/free-vector/teamwork-concept-landing-page_52683-18752.jpg') center no-repeat;
  background-size: cover;
}

