/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
body,html {
  margin: 0;
  padding: 0;
  background: #D7E3FD;
  color: #012A51;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Bootstrap switch overwrite */
.custom-switch.custom-switch-md .custom-control-label {
  padding-left: 1.5rem;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
    border-color: #4AA746;
  background-color: #4AA746;
}
.custom-switch.custom-switch-md .custom-control-label::before {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}
.custom-switch.custom-switch-md .custom-control-label::after {
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  border-radius: calc(2rem - (1.5rem / 2));
}
.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(1.5rem - 0.25rem));
}

/* Bootstrap checkbox override */
.custom-control-input-checkbox:checked~.custom-control-label::before,
.custom-control-input-radio:checked~.custom-control-label::before {
  color: #fff;
  border-color: #0C78F9;
  background-color: #0C78F9;
}
