.theme-modal-backdrop {
  background-color: rgba(1,42,81,0.8) !important;
}
.border-light {
  border: 1px solid #E2E4E8 !important;
}
.border-grey {
  border: 1px solid #8E9295;
}
.border-theme-primary {
  border: 1px solid #2E76F9;
}
.border-theme-primary-dark {
  border: 1px solid #012A51;
}
.border-theme-secondary {
  border: 1px solid #e39035;
}

.text-grey {
  color: #cccccc;
}
.text-grey-light {
  color: #f7faff;
}
.text-black {
  color: #000;
}
.text-primary {
  color: #2E76F9 !important;
}
.text-theme-primary {
  color: #03519D !important;
}
.text-theme-primary-dark {
  color: #012A51 !important;
}
.text-theme-secondary {
  color: #e39035 !important;
}
.text-theme-secondary-dark {
  color: #a35601 !important;
}
.text-theme-secondary-light {
  color: #fee2c4 !important;
}
.text-info-light {
  color: #a1e2ed !important;
}
.text-success-dark {
  color: #255323 !important;
}

.btn-theme-primary {
  background-color: #2E76F9;
}
.btn-theme-primary-dark {
  background-color: #012A51;
}
.btn-theme-primary-light {
  background-color: #e8effb !important;
}
.btn-outline-theme-primary {
  border: 1px solid #2E76F9;
}
.btn-outline-theme-primary-dark {
  border: 1px solid #012A51;
}
.btn-outline-theme-primary:hover,
.btn-outline-primary:hover{
  background-color: #2E76F9 !important;
  color: #fff !important;
}
.btn-theme-secondary {
  background-color: #e39035;
}
.btn-theme-secondary-dark {
  background-color: #ca802f;
}
.btn-outline-theme-secondary {
  border: 1px solid #e39035;
}
.btn-grey {
  background-color: #F1F1F1 !important;
}
.btn-outline-grey {
  border: 1px solid #8E9295;
}
.btn-hover:hover {
  background-color: #F7FAFF !important;
}
.btn-white{
  background-color: #fff !important;
}
.btn-theme-secondary:hover {
  background-color: #ca802f !important;
}

.bg-dark {
  background-color: #000000 !important;
}
.bg-grey {
  background: #ccc;
}
.bg-warning {
  background-color: #FFD33E !important;
}
.bg-primary,
.btn-primary {
  background-color: #2E76F9 !important;
}
.bg-info-light {
  background-color: #e2f6f9;
}
.bg-warning-light {
  background-color: #FFFBE7;
}
.bg-danger-light {
  background-color: #FDE6E2;
}
.bg-primary-light {
  background-color: #E1ECF4;
}
.bg-success-light {
  background-color: #e0f2ea;
}
.bg-grey-light {
  background-color: #EFF3F6;
}
.bg-theme-primary {
  background-color: #012A51;
}
.bg-theme-primary-light {
  background-color: #03519D;
}
.bg-theme-secondary {
  background-color: #e39035 !important;
}
.bg-theme-secondary-light {
  background-color: #fff1d3;
}
.bg-white--opacity {
  background-color: rgba(255,255,255,0.8);
}
