.cursor-pointer {
  cursor: pointer;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.high-z-index {
  z-index: 999;
}
.low-z-index {
  z-index: -1;
}
.z-index {
  z-index: 1;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.text-underline {
  text-decoration: underline !important;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.absolute-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.text--size-100 {
  font-size: 100px !important;
}
.text--size-90 {
  font-size: 90px !important;
}
.text--size-80 {
  font-size: 80px !important;
}
.text--size-70 {
  font-size: 70px !important;
}
.text--size-60 {
  font-size: 60px !important;
}
.text--size-50 {
  font-size: 50px !important;
}
.text--size-40 {
  font-size: 40px !important;
}
.text--size-35 {
  font-size: 35px !important;
}
.text--size-30 {
  font-size: 30px !important;
}
.text--size-25 {
  font-size: 25px !important;
}
.text--size-20 {
  font-size: 20px !important;
}
.text--size-18 {
  font-size: 18px !important;
}
.text--size-15 {
  font-size: 15px !important;
}
.text--size-12 {
  font-size: 12px !important;
}
.text--size-10 {
  font-size: 10px !important;
}

.font-weight-lighter {
  font-weight: 100 !important;
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-bolder {
  font-weight: 900 !important;
}

.rounded-50 {
  border-radius: 0.5rem !important;
}
.rounded-50px {
  border-radius: 50px !important;
}
.rounded-75 {
  border-radius: 0.75rem !important;
}
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}

.shadow-xlg{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.5)!important;
}
@media (min-width: 780px) {
  .d-mobile {
    display: none;
  }

  .d-desktop {
    display: unset;
  }
}
@media (max-width: 780px) {
  .d-mobile {
    display: block;
  }

  .d-desktop {
    display: none;
  }
}

/* Content Loader */
.content-loader {
  animation: loader 1.5s infinite ease-in-out;
  -webkit-animation: loader 1.5s infinite ease-in-out;
}
@keyframes loader {
  0% {
    background-color: rgba(165, 165, 165, 0.20);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.40);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.20);
  }
}
@-webkit-keyframes loader {
  0% {
    background-color: rgba(165, 165, 165, 0.20);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.40);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.20);
  }
}
